@import "../../assets/style-elements.scss";
@import "../../assets/breakpoints.scss";

.column {
    min-width: 330px;
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    background-color: #ecf5fc;
    box-shadow: 0px 0px 0px 2px rgba($color: $main-color, $alpha: 1);
    border-radius: 8px;
    overflow: auto;

    @include media("<=420px") {
        margin: 5px 40px;
    }

    &::-webkit-scrollbar {
        background-color: transparent;
        width: 8px;
        border-radius: 8px;
        transition: all 1000ms ease-in-out;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba($color: #959595, $alpha: 0);
        border-radius: 8px;
    }

    &:hover::-webkit-scrollbar-thumb {
        background-color: rgba($color: #959595, $alpha: 0.5);
    }

    .column-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .column-title {
            margin: 1rem;
            color: lighten(black, 30%);

            @include media("<=420px") {
                font-size: 30px;
            }

            @include media(">420px", "<=780px") {
                font-size: 30px;
            }
        }

        .edit {
            display: flex;
            align-items: center;
            position: relative;

            input {
                position: absolute;
                font-size: 12px;
                right: 27px;
                width: 0;
                padding: 0;
                border: none;
                border-radius: 4px;
                transition: all 400ms ease-in-out;

                &.edit {
                    width: 65px;
                    padding: 8px 10px;
                    border: 2px solid $main-color;
                    box-shadow: $box-shadow;
                }

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                &:focus {
                    outline: none;
                    border: 2px solid $main-color;
                    box-shadow: $box-shadow;
                }
            }

            .edit-icon {
                margin: 0 15px 0 5px;
                position: absolute;
                right: 15px;
                cursor: pointer;
            }
        }
    }

    .cardlist {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .add-card-btn {
        margin: 15px 0;

        @include media("<=420px") {
            width: 300px;
            height: 50px;
            font-size: 22px;
        }

        @include media(">420px", "<=780px") {
            height: 70px;
            width: 300px;
            font-size: 25px;
        }
    }
}
