.column {
    min-width: 330px;
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    background-color: #ecf5fc;
    border-radius: 8px;
    overflow-x: auto;

    &::-webkit-scrollbar {
        background-color: transparent;
        width: 8px;
        border-radius: 8px;
        transition: all 1000ms ease-in-out;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba($color: #959595, $alpha: 0);
        border-radius: 8px;
    }

    &:hover::-webkit-scrollbar-thumb {
        background-color: rgba($color: #959595, $alpha: 0.5);
    }

    .column-title {
        margin: 1rem;
        color: lighten(black, 30%);
    }

    .cardlist {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
