.board-name {
    margin: 30px 80px;
    color: lighten(black, 30%);
}

.column-container {
    margin-left: 60px;
    width: calc(100vw - 120px);
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;

    &::-webkit-scrollbar {
        background-color: inherit;
        height: 8px;
        border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba($color: #959595, $alpha: 0);
        border-radius: 8px;
    }

    &:hover::-webkit-scrollbar-thumb {
        background-color: rgba($color: #959595, $alpha: 0.5);
    }

    .add-column-btn {
        height: fit-content;
        width: 10rem;
        padding: 5px 10px;
        margin-top: 10px;
    }
}
